<style>
img {
  display: block;
  margin: auto;
} 

p {
  font-family: "georgia", serif;
  color: white;
  font-size: 20px; 
  text-align: justify;
  text-indent:100px;
}

.style, div {
  font-family: "arial", serif;
  color: cyan;
  font-weight: bold;	
  font-style: italic;
  text-align: left;
  text-indent: 0px;
}

.creds {
  text-align: right;
}

.other {
	height: 315px;
	width: 1351px;
}
</style>
