<style>
body {
	background-image: url("https://scontent.fmnl2-1.fna.fbcdn.net/v/t34.0-12/18191526_1321185874585492_699060414_n.jpg?oh=a645ffb55a29b19ca035534d8d49cc0c&oe=59053C07");
	background-repeat: no-repeat;
	background-size: 1370px;
	background-attachment: fixed;
}

img {
  height: 103px;
  width: 399px;
  display: block;
  margin: auto;
} 

p {
  font-family: "georgia", serif;
  color: white;
  font-size: 20px; 
  text-align: justify;
  text-indent:100px;
}

.style, div {
  font-family: "arial", serif;
  color: cyan;
  font-weight: bold;	
  font-style: italic;
  text-align: left;
  text-indent: 0px;
}

.creds {
  text-align: right;
}
</style>