<style>
body {
	background-image: url("wall.jpg"); no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}

img {
  height: 103px;
  width: 399px;
  display: block;
  margin: auto;
} 

p {
  font-family: "georgia", serif;
  color: white;
  font-size: 20px; 
  text-align: justify;
  text-indent:100px;
}

.style, div {
  font-family: "arial", serif;
  color: cyan;
  font-weight: bold;	
  font-style: italic;
  text-align: left;
  text-indent: 0px;
}

.creds {
  text-align: right;
}
</style>
